# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (Ignore large dataset, keep 10% sample)
data/modis_data.csv
data/modisdata/

# IDE
.vscode/
.idea/
.gemini/
# Logs
logs-*.txt

# Documents
*.docx
*.pdf
*.doc
*.wpf
